{% extends 'staff/base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="bradcam_area breadcam_bg bradcam_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>User Information</h3>
                        <p><a href="{% url 'staff_user' %}">Home /</a> User Information</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
       <!-- bradcam_area_end  -->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row justify-content-md-center" >
                <div class="col-lg-8 mb-5 mb-lg-0" >
                    <article class="blog_item" >
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/banner/profile_banner.png' %}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3><div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div></h3>

                            </a>
                        </div>
                        <div class="blog_details">
                            <h2>Transaction Information</h2><hr>
                            <div class="input-group-icon mt-10">
                                 <ul class="list cat-list">
                                     <li><b style="color: black">Creator:</b>&emsp;{{ tran.creator }}</li><hr>
                                     <li><b style="color: black">Receiver:</b>&emsp;{{ tran.receiver }}</li><hr>
                                     <li><b style="color: black">Transaction Type:</b>&emsp;{{ tran.transaction_type }}</li><hr>
                                     <li><b style="color: black">Category:</b>&emsp;{{ tran.category }}</li><hr>
                                     <li><b style="color: black">Amount:</b>&emsp;{{ tran.amount }}</li><hr>
                                     <li><b style="color: black">Description:</b>&emsp;{{ tran.description }}</li><hr>
                                     <li><b style="color: black">Payment Method:</b>&emsp;{{ tran.payment_method.method_type }}</li><hr>
                                     <li><b style="color: black">Create Date:</b>&emsp;{{ tran.create_date | date:'Y-m-d' }}</li><hr>
                                     <li><b style="color: black">Is it completed ?:</b>&emsp;{{ tran.is_complete}}</li><hr>
                                </ul>
                            </div>
                            <div class="input-group-icon mt-10">
                                 <a href="{% url 'staff_tran_delete' tran.pk%}"
                                    class="btn rounded-0 btn-outline-danger">Delete</a>&nbsp;&nbsp;
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}