{% extends 'staff/user_detail.html' %}
{% load static from staticfiles %}

{% block info %}
    <article class="blog_item" >
        <div class="blog_item_img">
            <img class="card-img rounded-0" src="{% static 'img/banner/profile_banner.png' %}" alt="">
            <a href="#" class="blog_item_date">
                <h3><div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div></h3>

            </a>
        </div>
        <div class="blog_details">
            <h2>Transaction Information</h2><hr>
            <form action="{% url 'staff_user_tran_delete' user.pk tran.pk%}" method="post">
                {% csrf_token %}
                <ul class="list cat-list">
                    <li>Are you sure you want to delete this transaction?</li>
                </ul><br>
                <button class='button rounded-0 btn btn-outline-danger'
                        type="submit">Delete</button> &nbsp;&nbsp;
                <button class="btn rounded-0 btn-outline-primary">
                    <a href="{% url 'staff_user_tran_detail' user.pk tran.pk %}">Cancel</a>
                </button>
            </form>
        </div>
    </article>
{% endblock %}