{% extends 'staff/user_detail.html' %}
{% load static from staticfiles %}

{% block info %}
    <article class="blog_item" >
        <div class="blog_item_img">
            <img class="card-img rounded-0" src="{% static 'img/banner/profile_banner.png' %}" alt="">
            <a href="#" class="blog_item_date">
                <h3><div class="icon"><i class="flaticon-money-2"></i></div></h3>

            </a>
        </div>
        <div class="blog_details">
            <h2>Balance</h2>
            {% for acc in account %}
                <div class="input-group-icon mt-10">
                        <font size="6">$ {{ acc.balance }} USD</font>
                </div>
            {% endfor %}
        </div>
    </article>

    <article class="blog_item" >
        <div class="blog_item_img">
            <img class="card-img rounded-0" src="{% static 'img/banner/profile_banner.png' %}" alt="">
            <a href="#" class="blog_item_date">
                <h3><div class="icon"><i class="fa fa-bank" aria-hidden="true"></i></div></h3>

            </a>
        </div>
        <div class="blog_details">
            <h2>Bank Information</h2><hr>
            <div class="input-group-icon mt-10">
                {% for bank in bank_list %}
                    <ul class="list cat-list">
                        <li><a href="{% url 'staff_user_bank' user.pk bank.pk%}">
                            <b style="color: black">Bank Account:</b>&emsp;{{ bank }}</a></li><hr>
                    </ul>
                    {% empty %}
                    <li><em>There are currently no bank accounts available.</em></li>
                {% endfor %}
            </div>
        </div>
    </article>

    <article class="blog_item" >
        <div class="blog_item_img">
            <img class="card-img rounded-0" src="{% static 'img/banner/profile_banner.png' %}" alt="">
            <a href="#" class="blog_item_date">
                <h3><div class="icon"><i class="fa fa-credit-card" aria-hidden="true"></i></div></h3>

            </a>
        </div>
        <div class="blog_details">
            <h2>Card Information</h2><hr>
            <div class="input-group-icon mt-10">
                {% for card in card_list %}
                    <ul class="list cat-list">
                        <li><a href="{% url 'staff_user_card' user.pk card.pk%}">
                            <b style="color: black">Card:</b>&emsp;{{ card }}</a></li><hr>
                    </ul>
                    {% empty %}
                    <li><em>There are currently no cards available.</em></li>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}