{% extends 'app/settings_page.html' %}

{% block bank_card %}

<!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row" >
                <div class="col-lg-8 mb-5 mb-lg-0" >
                    <article class="blog_item" >
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="../../static/img/banner/profile_banner.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3><div class="icon"><i class="fa fa-bank" aria-hidden="true"></i></div></h3>

                            </a>
                        </div>
                        <div class="blog_details">
                            <h2>Bank Information</h2><hr>
                            <div class="input-group-icon mt-10">
                                {% for bank in bank_list %}
                                    <ul class="list cat-list">
                                        <li><a href="{{ bank.get_absolute_url }}">
                                            <b style="color: black">Bank Account:</b>&emsp;{{ bank }}</a></li><hr>
                                    </ul>
                                    {% empty %}
                                    <li><em>There are currently no bank accounts available.</em></li>

                                {% endfor %}
                            </div>
                            <br>
                            <div class="input-group-icon mt-10">
                                 <a href="{% url 'bank_create' %}"
                                    class="btn rounded-0 btn-outline-primary">Add Bank</a>
                            </div>
                        </div>
                    </article>

                    <article class="blog_item" >
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="../../static/img/banner/profile_banner.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3><div class="icon"><i class="fa fa-credit-card" aria-hidden="true"></i></div></h3>

                            </a>
                        </div>
                        <div class="blog_details">
                            <h2>Card Information</h2><hr>
                            <div class="input-group-icon mt-10">
                                {% for card in card_list %}
                                    <ul class="list cat-list">
                                        <li><a href="{{ card.get_absolute_url }}">
                                            <b style="color: black">{{ card.card_type }} card:</b>&emsp;{{ card }}</a></li><hr>
                                    </ul>
                                    {% empty %}
                                    <li><em>There are currently no cards available.</em></li>

                                {% endfor %}
                            </div>
                            <br>
                            <div class="input-group-icon mt-10">
                                 <a href="{% url 'card_create' %}"
                                    class="btn rounded-0 btn-outline-primary">Add Card</a>
                            </div>
                        </div>
                    </article>

                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">User Account</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'wallet' %}">
                                        <p>View Balance</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'send' %}">
                                        <p>View Activity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'reset_password' %}" >
                                        <p>Change Password</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock %}
