{% extends 'app/transaction_page.html' %}
{% load static from staticfiles %}

{% block incomplete %}
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row" >
                <div class="col-lg-8 mb-5 mb-lg-0" >
                    <article class="blog_item" >
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/banner/profile_banner.png' %}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3><div class="icon"><i class="flaticon-money" aria-hidden="true"></i></div></h3>
                            </a>
                        </div>
                        <div class="blog_details">
                            <h2>Select a Payment Method</h2><hr>
                            <form class="form-contact contact_form" action="{% url 'incomplete_payment_confirm' tran%}" method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ error|escape }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in form.non_field_errors %}
                                                <li>{{ error|escape }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <select class="form-control form-select " id="default-select" name="payment_method">
                                                <option value="" selected disabled hidden>Payment Method</option>
                                                {% for sender in sender_list%}
                                                    {% if sender.method_type == 'account' and sender.account != ''%}
                                                        <option value={{ sender.method_id }}>{{ sender.account }}</option>
                                                    {% elif sender.method_type == 'bank' and sender.bank != '' %}
                                                        <option value={{ sender.method_id }}>{{ sender.bank }}</option>
                                                    {% elif sender.method_type == 'card' and sender.card != '' %}
                                                        <option value={{ sender.method_id }}>{{ sender.card }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12"><div class="form-group"></div></div>

                                    <div class="col-12">
                                        <button class='button rounded-0 btn btn-outline-primary'
                                            type="submit">Complete Payment</button>&nbsp;
                                    </div>
                                </div>
                            </form>
                            <br>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Links</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'activity' %}">
                                        <p>View Activity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'account' %}" >
                                        <p>Payment Method</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'profile' %}" >
                                        <p>User Profile</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}