{% extends 'app/transaction_page.html' %}

{% block send %}
<div class="container">
    <div class="border_bottom">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="business_info">
                            <h3>Send</h3>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}