{% extends 'app/transaction_page.html' %}
{% load static from staticfiles %}

{% block incomplete %}
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row" >
                <div class="col-lg-8 mb-5 mb-lg-0" >
                    <article class="blog_item" >
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{% static 'img/banner/profile_banner.png' %}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3><div class="icon"><i class="flaticon-money" aria-hidden="true"></i></div></h3>
                            </a>
                        </div>
                        <div class="blog_details">
                            <h2>Request To: {{ tran.creator }}</h2><hr>
                            <form action="#">
                                <ul class="list cat-list">
                                    <li><b style="color: black">Category:</b>&emsp;{{ tran.category}}</li><hr>
                                    <li><b style="color: black">Description:</b>&emsp;{{ tran.description}}</li><hr>
                                    <li><b style="color: black">Amount:</b>&emsp;{{ tran.amount}}</li><hr>
                                </ul>&nbsp;&nbsp;
                                <br>
                                <a href="{% url 'incomplete_request_delete' tran.pk %}"
                                   class="btn rounded-0 btn-outline-danger">Cancel Request</a>
                            </form>
                            <br>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Links</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'activity' %}">
                                        <p>View Activity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'wallet' %}" >
                                        <p>Payment Method</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'profile' %}" >
                                        <p>User Profile</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}