{% extends 'app/base.html' %}

{% block content %}
    <!-- bradcam_area_start  -->
    <div class="bradcam_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12"></div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!-- login area start  -->
    <section class="blog_area section-padding" style="background:#EBF5FB ">
    <div class="container">
        <div class="col-xl-12">
            <div class="row justify-content-md-center">
                <div class="col-md-6 blog_details" style="background:white">
                    <h3>Reset Password</h3>
                    <hr class="colorgraph"><br>
                    <form class="form-contact contact_form" action="{% url 'reset_password' %}" method="post" id="contactForm" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ error|escape }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="{{ form.password.id_for_label }}" maxlength="45"
                                               name="{{ form.password.html_name }}" placeholder="Password" type="password"/>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" id="{{ form.confirm_password.id_for_label }}" maxlength="45"
                                               name="{{ form.confirm_password.html_name }}" placeholder="Confirm Password" type="password"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="button button-contactForm boxed-btn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- login area end  -->
{% endblock %}