{% extends 'app/user_profile.html' %}

{% block profile_form %}
    <div class="blog_item_img">
        <img class="card-img rounded-0" src="../../static/img/banner/profile_banner.png" alt="">
        <a href="#" class="blog_item_date">
            <h3><div class="icon"><i class="fa fa-user-circle" aria-hidden="true"></i></div></h3>

        </a>
    </div>
    <div class="blog_details">
        <h2>{{ user }}'s Profile</h2><hr>
        <form action="#">
            {% csrf_token %}
            <ul class="list cat-list">
                <li><b style="color: black">First Name:</b>&emsp;{{ user.first_name}}</li><hr>
                <li><b style="color: black">Last Name:</b>&emsp;{{ user.last_name}}</li><hr>
                <li><b style="color: black">Email:</b>&emsp;{{ user.email}}</li><hr>
                <li><b style="color: black">Birthday:</b>&emsp;{{ user.profile.birthday|date:'Y/m/d'}}</li><hr>
                <li><b style="color: black">Address:</b>&emsp;{{ user.profile.address}}</li><hr>
            </ul>
            <div class="input-group-icon mt-10">
                 <a href="{% url 'profile_update' %}"
                    class="btn rounded-0 btn-outline-primary">Update Profile</a>
            </div>
        </form>
    </div>
{% endblock %}
