{% extends 'app/settings_page.html' %}

{% block profile %}

<div class="whole-wrap">
    <div class="container box_1170">
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <h3 class="mb-30">Form Element</h3>
                <form action="#">
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <input type="text" name="username" placeholder="Username"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required
                            class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <input type="text" name="first_name" placeholder="First Name"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
                            class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                        <input type="text" name="last_name" placeholder="Last Name"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
                            class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <input type="text" name="email" placeholder="Email Address"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" required
                            class="single-input">
                    </div>
                     <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                        <input type="date" name="birthday" placeholder="Birthday"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Birthday'" required
                            class="single-input">
                    </div>
                    <div class="input-group-icon mt-10">
                        <div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <input type="text" name="address" placeholder="Address"
                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Birthday'" required
                            class="single-input">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
