{% extends 'app/base.html' %}

{% block content %}
    <!-- bradcam_area_start  -->
    <div class="bradcam_area breadcam_bg bradcam_overlay">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>User Profile</h3>
                        <p><a href="{% url 'index' %}">Home /</a> User Profile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end  -->

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row" >
                <div class="col-lg-8 mb-5 mb-lg-0" >
                    <div class="blog_left_sidebar" >
                        <article class="blog_item" >
                            {% block profile_form %}
                                default content
                            {% endblock %}
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">User Account</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'account' %}">
                                        <p>View Balance</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'activity' %}">
                                        <p>View Activity</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'reset_password' %}" >
                                        <p>Change Password</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}